@use "../../../../assets/scss/mixins" as m;
@use "../../../../assets/scss/variables" as v;

.navbar{


    background-color: v.$color7;
    width: 100%;

    .navbar-nav {
         @media (min-width: 992px) {
           flex-direction: column !important;
         }
         .nav-link {
           color: v.$color4;
           padding: 0.4rem;
           @media (max-width: 991px) {
             margin-left: 1rem;
           }
           @media (min-width: 990px) {
             margin-left: 1rem;
           }
           @media (min-width: 992px) {
             margin-left: 0;
           }
           &:hover {
             color: v.$color2;
           }
         }
    }
}