@use "../../../../assets/scss/variables" as v;
@use "../../../../assets/scss/mixins" as m;

$breakpoint: 992px;


.home{
    background-color: blue($color: #d61b1b);

    .container{
        display: flex;
    }
}